# Python bytecode
__pycache__/
*.pyc

# macOS system files
.DS_Store

# Virtual environments
.venv/
venv/

# Data / datasets (do not commit large files)
data/

# Jupyter / Colab
.ipynb_checkpoints/

# Logs / temp
*.log
*.tmp